[Unit]
Description=Trafficlight Control
After=network.target

[Service]
ExecStart=traffic-web
WorkingDirectory=/var/run/traffic-web
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
